<mat-toolbar color="primary" class="csp-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <h1 class="csp-app-name"> Ramu Portal</h1>
</mat-toolbar>
<mat-sidenav-container class="csp-container" autosize >
    <mat-sidenav #sidenav class="csp-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <mat-nav-list>  
            <mat-list-item class="parent" routerLink="/home"> 
                <span >Home</span>
                <mat-icon mat-list-icon> home </mat-icon>
            </mat-list-item>  
            <!-- <mat-list-item class="parent" routerLink="/searchengine"> 
                <span >Search Engine</span>
                <mat-icon mat-list-icon> search </mat-icon>
            </mat-list-item>   -->
         </mat-nav-list> 
    </mat-sidenav>
    <div class="csp-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
  

